@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-100;
}

.terminal-container {
  @apply bg-black rounded-lg overflow-hidden;
}

.xterm {
  padding: 8px;
}

.xterm-viewport {
  overflow-y: auto !important;
}
